@import url('./variables.css');

.calculator-wrapper {
  max-width: 1100px;
  margin: 48px auto;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.calculator-card,
.result-card {
  background-color: var(--card-bg);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow);
  flex: 1 1 450px;
  transition: background-color 0.3s;
}

form label {
  display: block;
  margin-top: 16px;
  font-weight: 600;
  color: var(--text-color);
}

form select,
form input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: var(--card-bg);

}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  color: var(--text-color);
}

.checkbox-container input[type="checkbox"] {
  transform: translateY(8px);
}

.buttons button {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: var(--main-color-dark);
}

.result-box {
  margin-top: 12px;
}

.result-box ul {
  padding-left: 20px;
  line-height: 1.6;
  color: var(--text-color);
}

.result-box .thank-you {
  margin-top: 16px;
  color: green;
}

.price {
  font-weight: bold;
  color: var(--main-color);
}

.hidden {
  display: none;
}

body.dark-mode .calculator-card,
body.dark-mode .result-card {
  background-color: var(--dark-card-bg);
  color: var(--dark-text);
}

body.dark-mode form label,
body.dark-mode .checkbox-container,
body.dark-mode .result-box ul,
body.dark-mode .result-box .thank-you {
  color: var(--dark-text);
}

@media only screen and (max-width: 767px) {
  .calculator-wrapper {
    flex-direction: column;
  }

  .calculator-card,
  .result-card {
    margin: 0 0 24px;
  }

  .buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .checkbox-container {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .calculator-wrapper {
    flex-direction: row;
    gap: 0;
  }

  .calculator-card,
  .result-card {
    margin: 0 10px 32px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
  }
}
